<h1>Ingredients</h1>
<header>
  <nav>
    <div class="left-links">
      <a href="/" class="meal-maker-link">MealMaker</a>
    </div>
    <div class="center-links">
      {{#if user}}
        <div class="dropdown">
          <a href="#" class="dropbtn">{{user.firstName}} ▼</a>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </div>
    <div class="right-links">
      <a href="/recipes">Recipes</a>
    </div>
  </nav>
</header>
<body>
  <a href="/ingredients/add">Add Ingredients Here!</a>
  <ul>
    {{#each ingredients}}
      {{> ingredient}}
    {{/each}}
  </ul>
</body>