<h1>Create Ingredients</h1>
<header>
  <nav>
    <div class="left-links">
      <a href="/" class="meal-maker-link">MealMaker</a>
    </div>
    <div class="center-links">
      {{#if user}}
        <div class="dropdown">
          <a href="#" class="dropbtn">{{user.firstName}} ▼</a>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </div>
    <div class="right-links">
      <a href="/recipes">Recipes</a>
    </div>
  </nav>
</header>
<div>
  <form id="ingredient-form" action="/ingredients/add" method="POST" name="ingredientForm">
    <label for="nameInput">Ingredient Name:</label>
    <input type="text" name="nameInput" id="nameInput">

    <label for="flavorsInput">Flavors/Cuisines(separated by commas):</label>
    <input type="text" name="flavorsInput" id="flavorsInput">

    <label for="quantityInput">Quantity:</label>
    <input type="text" name="quantityInput" id="quantityInput">

    <label for="measurementInput">Measurement:</label>
    <input type="text" name="measurementInput" id="measurementInput">

    <button type="submit">Submit</button>
  </form>
</div>