<h1>Create Ingredients</h1>
<header>
  {{#if user}}
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
  {{/if}}
  <a href="/recipes">Recipes</a>
  <a href="/profile">Profile</a>
  <a href="/">Home</a>
</header>
<div>
  <form id="ingredient-form" action="/ingredients/add" method="POST" name="ingredientForm">
    <label for="nameInput">Ingredient Name:</label>
    <input type="text" name="nameInput" id="nameInput" />

    <label for="flavorsInput">Flavors/Cuisines(separated by commas):</label>
    <input type="text" name="flavorsInput" id="flavorsInput" />

    <label for="quantityInput">Quantity:</label>
    <input type="text" name="quantityInput" id="quantityInput" />

    <label for="measurementInput">Measurement:</label>
    <input type="text" name="measurementInput" id="measurementInput" />

    <button type="submit">Submit</button>
  </form>
</div>