<h1>Ingredients</h1>
<header>
  <a href="/logout">Logout</a>
  <a href="/">Home</a>
  <a href="/recipes">Recipes</a>
  <a href="/profile">Profile</a>
</header>
<body>
  <a href="/ingredients/add">Add Ingredients Here!</a>
  <ul>
    {{#each ingredients}}
      <li>
        {> ingredient}
      </li>
    {{/each}}
  </ul>
</body>