<header>
  <nav>
    <div class="left-links">
      <a href="/" class="meal-maker-link">MealMaker</a>
    </div>
    <div class="center-links">
      {{#if user}}
        <div class="dropdown">
          <a href="#" class="dropbtn">{{user.firstName}} ▼</a>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </div>
    <div class="right-links">
      <a href="/recipes">Recipes</a>
      <a href="/ingredients">Ingredients</a>
    
    </div>
  </nav>
</header>
<div>
  <h1>Create Recipes</h1>
  <p id="error">{{error}}</p>
  <form id="recipes-form" action="/recipes/add" method="POST">
    <label for="nameInput">Recipe Name:</label>
    <input type="text" name="nameInput" id="nameInput">

    <label for="flavorsInput">Flavors(separated by commas):</label>
    <input type="text" name="flavorsInput" id="flavorsInput">

    <label for="imageInput">Image:</label>
    <input type="file" name="imageInput" id="imageInput" accept="image/*">

    <label for="ingredientsInput">Ingredients(separated by a comma):</label>
    <input type="text" name="ingredientsInput" id="ingredientsInput">

    <label for="instructionsInput">Instructions (separate steps with commas):</label>
    <input type="text" name="instructionsInput" id="instructionsInput">

    <label for="servingsInput">Servings:</label>
    <input type="number" name="servingsInput" id="servingsInput">

    <label for="readyInput">Ready in(minutes):</label>
    <input type="number" name="readyInput" id="readyInput">

    <label for="sourceInput">Source:</label>
    <input type="url" name="sourceInput" id="sourceInput">

    {{#if (eq user.role "admin")}}
      <label for="certifiedInput">Certified:</label>
      <input type="checkbox" name="certifiedInput" id="certifiedInput">
    {{/if}}

    <button type="submit">Submit</button>
  </form>
</div>