<h1>Recipes</h1>
<header>
  <a href="/logout">Logout</a>
  <a href="/">Home</a>
  <a href="/ingredients">Ingredients</a>
  <a href="/profile">Profile</a>
</header>
<body>
  <ul>
    {{#each recipes}}
      <li>
        {{> recipe}}
      </li>
    {{/each}}
  </ul>
</body>