<h1>Recipes</h1>
<header>
  {{#if user}}
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
  {{/if}}
  <a href="/">Home</a>
  <a href="/ingredients">Ingredients</a>
  <a href="/profile">Profile</a>
</header>
<body>
  {{!-- TODO -- add search options in a form here to 
  rerender the page with different recipes that follow the filter criteria--}}
  <ul>
    {{#each recipes}}
      <li>
        {{> recipe}}
      </li>
    {{/each}}
  </ul>
</body>